.center {
   
    margin: auto;
    
}

.center h2 {
   
    font-family: cursive;
    color: white;
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
    font-weight: bold;
}

form h2 {
    padding: 14px 3px;
}

.forms {
    font-family: 'Times New Roman', Times, serif;
  background: rgba(254, 249, 249, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(139, 138, 138, 0.898);
  color: #dadada;
  
  
}

.form {
    background-image: linear-gradient(0deg, rgba(9, 8, 8, 0.385), rgba(46, 45, 45, 0.499)), url('../../public//images/blob-haikei.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 2em;
}

.formm {
    background-image: linear-gradient(0deg, rgba(9, 8, 8, 0.485), rgba(22, 20, 20, 0.489)), url('../../public//images/circle-scatter-haikei.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 2em;
}

.formzz {
    background-image: linear-gradient(0deg, rgba(9, 8, 8, 0.345), rgba(46, 45, 45, 0.43)), url('../../public//images/cool-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 2em;
}



.forms {

    padding: 1em 2em;
    margin: 2em auto;

}

.forms h3 {
    text-align: center;
    padding: 0.6em;
    color: #870000;
    ;
}

.form-input input {

    padding: 3px 10px;
    width: 100%;
    margin: 8px auto;
    color: white;
    border-bottom: 2px solid white;
    background-color: transparent;
}

.form-input button {
    margin: 1em auto;
    width: 100%;
    background-color: white;
    font-size: 1.2em;
    border: none;
    padding: 8px 15px;
    color: #870000;
}

.form-inputs button {
    margin: 1em auto;
    width: 100%;
    
    font-size: 1.2em;
    border: 2px solid white;
    padding: 8px 15px;
    color: #870000;
}

.form-input label {
    padding: 2px;
    color: white;
    font-weight: 500;
}

.forms a {
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}

.form-input input:focus {
    
    outline: none;
}

.form-input input::placeholder {
    color: white;
}