

.center{
    min-width: 40vw;
    margin: auto;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    
}

.center h2{
    /* font-family: fantasy; */
    font-family: cursive;
    color: white;
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
    font-weight: bold;
}
.form{
    background: #134E5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
min-height: 100vh;
  padding: 2em;
  /* opacity: 0.3; */
}

.forms{
    /* width: 40%; */
    padding: 1em 2em;
   /* width: 50%; */
    margin: 2em auto;
    /* background: rgba(254, 249, 249, 0.05);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 10px;
border: 1px solid rgba(139, 138, 138, 0.898); */
}

.forms h1{
    text-align: center;
    padding: 0.6em;
    color: white;
}

.form-input input{

    padding: 3px 10px;
    width: 100%;
    margin: 3px auto;
    border-bottom: 2px solid white;
    background-color: transparent;
}

.form-input button{
    margin: 1em auto;
    width: 100%;
    background-color: white;
    font-size: 1.2em;
    border: none;
    padding: 8px 15px;
    color: #356b72;
}

.form-input label{
    padding: 4px;
    color: white;
    font-weight: 500;
}

.forms a {
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}

.form-input input:focus{
    /* border: none; */
    outline: none;
}
.form-input input::placeholder{
    color: white;
}