
.header {
    background-image: linear-gradient(0deg, rgba(84, 66, 2, 0.269), rgba(97, 96, 95, 0.471)), url('../../public//images/cool-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 60vh;
    padding: 2em;
}

.header-text {
    margin: 2em auto;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    padding: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-text h1{
    font-weight: bold;
    /* line-height: 3px; */
    padding: 7px 0px;
}

.header-text button {
    margin-top: 10px;
    border: 3px solid white;
    padding: 0.6em 1.5em;
    
}

.header-text button:hover{
    background-color: rgb(132, 11, 11);
    color: #870000;
    border: none;
}

.header-text button a{
    color: white;
    /* color:#870000 ; */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

/* ABOUT SECTION */

.about{
    
    background-color: #eceff4;
    width: 100%;
    /* min-height: 60vh; */
    padding: 2em 4em;
    font-family:'Times New Roman', Times, serif;
    margin:  auto;
    color: #696767;
    
}
.about-text h1{
    padding: 7px;
    text-align: center;
}
.about-text {
    padding: 10px;
    
}

.about-text img {
    width: 100%;
}


.cardz {
    overflow-y: hidden;
    margin: 2em 1em;
   padding: 1em;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    visibility: visible;
animation-delay: 0.1s;
animation-name: zoomIn;
/* box-shadow: 0 0 15px 0 rgba(0,0,0,0.1); */

text-align: left;
}


/* TIPS SECTION */

.tips-main {
    padding: 1.5em;
    margin: 1em auto;
    color: #696767;
    background-color: #eceff4;
    
}
.tips {
    font-family:'Times New Roman', Times, serif;
    margin: 1.5em auto;
    padding: 0px 2em;
}

.tips .imgg {
    margin: auto;
    /* background-color: white; */
    padding: 6px;
    width: 70%;
}
.tips img {
    width: 100%;
}

.top-text {
    text-align: center;
    padding: 8px;
    border-bottom: 2px solid rgb(202, 201, 201);
}

.iconz {
    margin: 10px;
    padding: 7px;
    text-align: center;
    font-size: 1.3em;
}

strong {
    color: #870000;
}

.title  
{  
        margin-bottom: 20px;  
        padding:20px  
}  
.img  
{  
        height: 260px;width:100%  
}  

.locations{
    overflow-y: hidden;
    margin: 1.4em auto;
   padding-bottom: 1em;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    visibility: visible;
animation-delay: 0.1s;
animation-name: zoomIn;
box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
margin-bottom: 30px;
text-align: center;
}

.locations a{
    margin: 1em auto;
padding-top: 20px ;   
color: #870000;
font-size: 1.2em;
text-decoration: none;
}

.middle-about{
    width: 100%;
    margin: 1.5em auto;
    text-align: center;
    align-items: center;
    padding: 1.3em 3em;
    font-size: 1.2em;
    color: #565555;
    font-family:'Times New Roman', Times, serif;
    /* background-color: #e8e5e5;   */
}

.middle-about h2 {
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 4px;
    font-weight: bold;
    color: rgb(31, 31, 31);
}

/* TESTIMONIALS STYLES */
.testimonials{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: #696767;
    background-color: #eceff4;
    min-height: 30vh;
    margin: 1em auto;
}

.testimonials h2{
    padding-top: 1em;
}

.carousel-item{
    padding: 0.1em 1em;
    margin: auto;
    min-height: 30vh;
    
}

.icons{
    color: rgb(255, 140, 0);
    display: flex;
    justify-content: center;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

.bg-video {
    padding: 2em;
    margin: 2em auto;
    
}
.vid-text {
    text-align: center;
    margin: 1em auto;
    padding: 1em;
    
}

footer {
    background-image: url('../../public//images/wave-haikei-4.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 60vh;
    padding: 2em 4em;
    font-family:'Times New Roman', Times, serif;
    margin: 1em auto;
    color: white;
    text-align: center;
}

.footer {
    margin-bottom: 0em;
    margin-top: 17em;
}