nav {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    padding: 10px 0;
    font-size: 1.1em;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

nav.sticky {
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.41);
    padding-bottom: 0;
}


.logos a {
    font-family: 'Sahitya';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    margin-right: 3em;
    line-height: 10px;
    /* color:#356b72; */
    color: #970f16;
    /* background-color: #356b72; */
}


.dropdown {
    transition: all .5s ease-in;

}

#navbarScrollingDropdown {
    color: white;
}

.register {
    margin: 0 3em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.register a {
    color: black;
}

.register button {
    padding: 1px 9px;
    border: none;
    background-color: #970f16;
    margin-left: 10px;
    color: white;
    border-radius: 7px;
}

.register button a {
    color: white;
}