*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .5s ease-in;
}

:root{
  --primary-color : #356b72;
  --secondary-color: #f09a2f;
  color: #f4f5f4
}

.bg-image{
  background-image:linear-gradient(0deg, rgba(5, 5, 5, 0.2), rgba(35, 35, 35, 0.2)), url('../public//images/pic5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  
}

.bg-text{
  background: rgba(254, 249, 249, 0.05);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 10px;
border: 1px solid rgba(139, 138, 138, 0.898);
/* padding: 5em 1em; */
min-width: 100%;
/* color: #f4f5f4; */
/* display: flex;
  align-items: center;
  justify-content: center; */
  margin: auto;
  
  
  min-height: 100vh;
}
.bg-text h1{
  font-size: 4em;
  /* padding: 2em; */
  /* margin:  auto; */
  
  font-weight: bold;
}

.bg-btn{
  color: white;
  padding: 2em;
  /* margin: 2em auto; */
  text-align: left;
min-height: 50vh;
margin: 8em 4em;
letter-spacing: 2px;

  /* margin: 4em auto; */
  
}

.bg-btn button{
  background: #356b72;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 5px;
  border: 3px solid var(--primary-color);
  padding: 5px 20px;
  font-size: 1.4em;
  font-weight: bold;
}

.bg-btn button a{
  text-decoration: none;
  color: white;
}

/* a:hover{
  color: #348893;
} */
.foot{
  padding: 1em;
  margin: 2em 4em;
  font-size: 1.2em;
  color: #f4f5f4;
}

.items{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.items a{
  text-decoration: none;
  color: white;
}

.items button{
  background: #356b72;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 5px;
  border: 3px solid var(--primary-color);
  padding: 5px 16px;
  font-size: 1em;
  font-weight: bold;
}

.text{
  font-size: 3em;
  letter-spacing: 5px;
  line-height: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 65%;
  left: 30%;
  /* margin-top: 5em; */
  /* min-height: 100vh; */
  /* color: #23c4da; */
  color: rgb(220, 214, 214);
  /* margin: auto; */
}